@layer base {
  :root {
    --color-primary: #409eff;
    --color-secondary: #26a69a;
    --color-accent: #dd4b39;
    --color-dark: #1d1d1d;
    --color-positive: #21ba45;
    --color-negative: #c10015;
    --color-info: #31ccec;
    --color-warning: #f2c037;
  }
}